:root {
    color-scheme: light
}

:root {
    --color-text-primary: #24292e;
    --color-text-secondary: #586069;
    --color-text-tertiary: #6a737d;
    --color-text-placeholder: #6a737d;
    --color-text-link: #0366d6;
    --color-border-primary: #e1e4e8;
    --color-border-secondary: #eaecef;
    --color-border-tertiary: #d1d5da;
    --color-border-overlay: #e1e4e8;
    --color-border-inverse: #fff;
    --color-border-info: #0366d6;
    --color-border-danger: #d73a49;
    --color-border-success: #34d058;
    --color-border-warning: #f9c513;
    --color-bg-canvas: #fff;
    --color-bg-primary: #fff;
    --color-bg-secondary: #fafbfc;
    --color-bg-tertiary: #f6f8fa;
    --color-bg-overlay: #fff;
    --color-shadow-large: 0 8px 24px rgba(149,157,165,0.2);
    --color-shadow-inset: inset 0 1px 0 rgba(225,228,232,0.2);
    --color-counter-text: #24292e;
    --color-counter-bg: rgba(209,213,218,0.5);
    --color-avatar-bg: #fff;
    --color-avatar-border: transparent;
    --color-select-menu-border-secondary: #eaecef;
    --color-select-menu-shadow: 0 0 18px rgba(27,31,35,0.4);
    --color-select-menu-backdrop-bg: rgba(27,31,35,0.5);
    --color-select-menu-backdrop-border: transparent;
    --color-markdown-code-bg: rgba(27,31,35,0.05);
    --color-markdown-blockquote-border: #dfe2e5;
    --color-markdown-table-border: #dfe2e5;
    --color-markdown-table-tr-border: #c6cbd1;
    --color-btn-text: #24292e;
    --color-btn-bg: #fafbfc;
    --color-btn-border: rgba(27,31,35,0.15);
    --color-btn-shadow: 0 1px 0 rgba(27,31,35,0.04);
    --color-btn-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.25);
    --color-btn-hover-bg: #f3f4f6;
    --color-btn-hover-border: rgba(27,31,35,0.15);
    --color-btn-selected-bg: #edeff2;
    --color-btn-focus-bg: #fafbfc;
    --color-btn-focus-border: rgba(27,31,35,0.15);
    --color-btn-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);
    --color-btn-outline-text: #0366d6;
    --color-btn-outline-hover-text: #fff;
    --color-btn-outline-hover-bg: #0366d6;
    --color-btn-outline-hover-border: rgba(27,31,35,0.15);
    --color-btn-outline-hover-shadow: 0 1px 0 rgba(27,31,35,0.1);
    --color-btn-outline-hover-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.03);
    --color-btn-outline-hover-counter-bg: hsla(0,0%,100%,0.2);
    --color-btn-outline-selected-text: #fff;
    --color-btn-outline-selected-bg: #035fc7;
    --color-btn-outline-selected-border: rgba(27,31,35,0.15);
    --color-btn-outline-selected-shadow: inset 0 1px 0 rgba(5,38,76,0.2);
    --color-btn-outline-disabled-text: rgba(3,102,214,0.5);
    --color-btn-outline-disabled-bg: #fafbfc;
    --color-btn-outline-disabled-counter-bg: rgba(3,102,214,0.05);
    --color-btn-outline-focus-border: rgba(27,31,35,0.15);
    --color-btn-outline-focus-shadow: 0 0 0 3px rgba(0,92,197,0.4);
    --color-btn-outline-counter-bg: rgba(3,102,214,0.1);
}