
.user-profile-nav {
    background-color: var(--color-bg-primary);
    border-bottom: 1px solid var(--color-border-tertiary);
    box-shadow: none
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    box-shadow: 0 0 0 1px var(--color-avatar-border)
}

.avatar-user {
    border-radius: 50%!important
}

.Counter {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-counter-text);
    text-align: center;
    background-color: var(--color-counter-bg);
    border: 1px solid transparent;
    border-radius: 2em
}

.Tag {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-counter-text);
    text-align: center;
    background-color: var(--color-counter-bg);
    border: 1px solid transparent;
    border-radius: 5px
}

.SelectMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    padding: 16px;
    pointer-events: none;
    flex-direction: column
}

@media (min-width: 544px) {
    .SelectMenu {
        position:absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        padding: 0
    }
}

.SelectMenu:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    content: "";
    background-color: var(--color-select-menu-backdrop-bg)
}

@media (min-width: 544px) {
    .SelectMenu:before {
        display:none
    }
}

.SelectMenu-modal {
    position: relative;
    z-index: 99;
    display: flex;
    max-height: 66%;
    margin: auto 0;
    overflow: hidden;
    pointer-events: auto;
    flex-direction: column;
    background-color: var(--color-bg-overlay);
    border: 1px solid var(--color-select-menu-backdrop-border);
    border-radius: 12px;
    box-shadow: var(--color-select-menu-shadow);
    animation: SelectMenu-modal-animation .12s cubic-bezier(0,.1,.1,1) backwards
}

@media (min-width: 544px) {
    .SelectMenu-modal {
        width:300px;
        height: auto;
        max-height: 480px;
        margin: 8px 0 16px;
        font-size: 12px;
        border-color: var(--color-border-overlay);
        border-radius: 6px;
        box-shadow: var(--color-shadow-large);
        animation-name: SelectMenu-modal-animation--sm
    }
}


.SelectMenu-list {
    position: relative;
    padding: 0;
    margin: 0 0 -1px;
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.SelectMenu-item,.SelectMenu-list {
    background-color: var(--color-bg-overlay)
}

.SelectMenu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    color: var(--color-text-primary);
    text-align: left;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid var(--color-select-menu-border-secondary)
}

@media (min-width: 544px) {
    .SelectMenu-item {
        padding-top:7px;
        padding-bottom: 7px
    }
}

.SelectMenu-list--borderless .SelectMenu-item {
    border-bottom: 0
}

.UnderlineNav-item.selected .UnderlineNav-octicon,.UnderlineNav-item[aria-current]:not([aria-current=false]) .UnderlineNav-octicon,.UnderlineNav-item[role=tab][aria-selected=true] .UnderlineNav-octicon {
    color: inherit
}

@media (min-width: 1280px) {
    .hx_UnderlineNav-with-profile-color-modes-banner {
        overflow:visible;
        padding-top: 8px;
        align-items: flex-end
    }
}

.file {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid var(--color-border-primary,#ddd);
    border-radius: 6px
}

.file-header {
    padding: 5px 10px;
    background-color: var(--color-bg-secondary);
    border-bottom: 1px solid var(--color-border-primary);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.file-header:after,.file-header:before {
    display: table;
    content: ""
}

.file-header:after {
    clear: both
}

.file-actions {
    float: right;
    padding-top: 2px;
    font-size: 13px
}

.file-info {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    line-height: 32px
}

.file-info .octicon {
    vertical-align: text-bottom
}


.file-info-divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
    background-color: #ddd
}


.vcard-names {
    line-height: 1
}

.vcard-fullname {
    font-size: 26px;
    line-height: 1.25
}

.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--color-text-secondary)
}

.vcard-details {
    list-style: none
}

.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%
}


.vcard-detail {
    padding-left: 24px;
    font-size: 14px
}

.vcard-detail .octicon {
    float: left;
    width: 16px;
    margin-top: 3px;
    margin-left: -24px;
    color: var(--color-text-tertiary);
    text-align: center
}

.user-profile-bio {
    overflow: hidden;
    font-size: 14px
}


.vcard-detail {
    padding-left: 22px
}

.vcard-detail .octicon {
    margin-left: -22px
}

.vcard-names-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    vertical-align: text-bottom
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.btn:hover {
    text-decoration: none
}

.btn:disabled {
    cursor: default
}

.btn:disabled .octicon {
    color: inherit
}

.btn .octicon {
    margin-right: 4px;
    color: var(--color-text-tertiary);
    vertical-align: text-bottom
}

.btn .octicon:only-child {
    margin-right: 0
}

.btn {
    color: var(--color-btn-text);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color,background-color,border-color
}

.btn:hover {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
    transition-duration: .1s
}

.btn:active {
    background-color: var(--color-btn-selected-bg);
    box-shadow: var(--color-shadow-inset);
    transition: none
}

.btn:disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border)
}

.btn:focus {
    border-color: var(--color-btn-focus-border);
    outline: none;
    box-shadow: var(--color-btn-focus-shadow)
}

.btn-octicon {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    line-height: 1;
    color: var(--color-text-secondary);
    vertical-align: middle;
    background: transparent;
    border: 0
}

.btn-octicon:hover {
    color: var(--color-text-link)
}

.btn-outline {
    color: var(--color-btn-outline-text)
}

.btn-outline:hover {
    color: var(--color-btn-outline-hover-text);
    background-color: var(--color-btn-outline-hover-bg);
    border-color: var(--color-btn-outline-hover-border);
    box-shadow: var(--color-btn-outline-hover-shadow),var(--color-btn-outline-hover-inset-shadow)
}

.btn-outline:active {
    color: var(--color-btn-outline-selected-text);
    background-color: var(--color-btn-outline-selected-bg);
    border-color: var(--color-btn-outline-selected-border);
    box-shadow: var(--color-btn-outline-selected-shadow)
}

.btn-outline:disabled {
    color: var(--color-btn-outline-disabled-text);
    background-color: var(--color-btn-outline-disabled-bg);
    border-color: var(--color-btn-border);
    box-shadow: none
}

.btn-outline:focus {
    border-color: var(--color-btn-outline-focus-border);
    box-shadow: var(--color-btn-outline-focus-shadow)
}

.BtnGroup {
    display: inline-block;
    vertical-align: middle
}

.BtnGroup:after,.BtnGroup:before {
    display: table;
    content: ""
}

.BtnGroup:after {
    clear: both
}

.BtnGroup-item {
    position: relative;
    float: left;
    border-right-width: 0;
    border-radius: 0
}

.BtnGroup-item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.BtnGroup-item:last-child {
    border-right-width: 1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.Box {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: 6px
}

.Box-body {
    padding: 16px;
    border-bottom: 1px solid var(--color-border-primary)
}

.Box-body:last-of-type {
    margin-bottom: -1px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px
}

.container-lg {
    max-width: 1012px
}

.container-lg,.container-xl {
    margin-right: auto;
    margin-left: auto
}

.container-xl {
    margin-right: auto;
    margin-left: auto
}

.container-xl {
    max-width: 1280px
}

.col-2 {
    width: 16.66667%
}

.col-10 {
    width: 83.33333%
}

.col-12 {
    width: 100%
}

@media (min-width: 768px) {

    .col-md-3 {
        width: 25%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-12 {
        width: 100%
    }
}

@media (min-width: 1012px) {

    .col-lg-6 {
        width: 50%
    }
}

.gutter-condensed {
    margin-right: -8px;
    margin-left: -8px
}

.gutter-condensed>[class*=col-] {
    padding-right: 8px!important;
    padding-left: 8px!important
}

@media (min-width: 1012px) {
    .gutter-lg {
        margin-right:-16px;
        margin-left: -16px
    }

    .gutter-lg>[class*=col-] {
        padding-right: 16px!important;
        padding-left: 16px!important
    }
}

.link-gray-dark {
    color: var(--color-text-primary)!important
}

.link-gray-dark:hover {
    color: var(--color-text-link)!important
}

.muted-link {
    color: var(--color-text-secondary)!important
}

.muted-link:hover {
    color: var(--color-text-link)!important;
    text-decoration: none
}

.UnderlineNav {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: inset 0 -1px 0 var(--color-border-secondary);
    justify-content: space-between
}

.UnderlineNav-body {
    display: flex
}

.UnderlineNav-item {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: var(--color-underlinenav-text);
    text-align: center;
    white-space: nowrap;
    background-color: initial;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .36s ease-in
}

.UnderlineNav-item:focus,.UnderlineNav-item:hover {
    color: var(--color-underlinenav-text-hover);
    text-decoration: none;
    border-bottom-color: var(--color-border-tertiary);
    outline: 1px dotted transparent;
    outline-offset: -1px;
    transition-timing-function: ease-out;
    transition-duration: .12s
}

.UnderlineNav-item.selected {
    font-weight: 600;
    color: var(--color-underlinenav-text-active);
    border-bottom-color: #f9826c;
    outline: 1px dotted transparent;
    outline-offset: -1px
}

.UnderlineNav-item.selected .UnderlineNav-octicon {
    color: var(--color-text-tertiary)
}

.UnderlineNav-octicon {
    margin-right: 4px;
    color: var(--color-underlinenav-icon)
}

.UnderlineNav .Counter {
    margin-left: 4px;
    color: var(--color-underlinenav-counter-text)
}

.paginate-container {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center
}

.css-truncate.css-truncate-target {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.css-truncate.css-truncate-target {
    display: inline-block;
    max-width: 125px;
    vertical-align: top
}

.border {
    border: 1px solid var(--color-border-primary)!important
}

.border-top {
    border-top: 1px solid var(--color-border-primary)!important
}

.border-bottom {
    border-bottom: 1px solid var(--color-border-primary)!important
}

.rounded-3 {
    border-radius: 8px!important
}

.box-shadow-none {
    box-shadow: none!important
}

.color-border-secondary {
    border-color: var(--color-border-secondary)!important
}

.bg-white {
    background-color: var(--color-bg-primary)!important
}

.text-gray {
    color: var(--color-text-secondary)!important
}

.border-gray-light {
    border-color: var(--color-border-secondary)!important
}

.flex-row-reverse {
    flex-direction: row-reverse!important
}

.flex-column {
    flex-direction: column!important
}

.flex-wrap {
    flex-wrap: wrap!important
}

.flex-justify-center {
    justify-content: center!important
}

.flex-items-start {
    align-items: flex-start!important
}

.flex-items-center {
    align-items: center!important
}

.flex-content-stretch {
    align-content: stretch!important
}

.flex-auto {
    flex: auto!important
}

.flex-shrink-0 {
    flex-shrink: 0!important
}

.flex-order-1 {
    order: 1!important
}

.flex-order-2 {
    order: 2!important
}

@media (min-width: 544px) {

    .flex-sm-items-center {
        align-items: center!important
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction:row!important
    }

    .flex-md-items-center {
        align-items: center!important
    }

    .flex-md-order-1 {
        order: 1!important
    }
}

@media (min-width: 1012px) {
    .flex-lg-row {
        flex-direction:row!important
    }

    .flex-lg-nowrap {
        flex-wrap: nowrap!important
    }

    .flex-lg-justify-between {
        justify-content: space-between!important
    }
}

.position-relative {
    position: relative!important
}

.position-sticky {
    position: -webkit-sticky!important;
    position: sticky!important
}

.top-0 {
    top: 0!important
}

.v-align-top {
    vertical-align: top!important
}

.overflow-hidden {
    overflow: hidden!important
}

.clearfix:after,.clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.float-left {
    float: left!important
}

.width-full {
    width: 100%!important
}

.min-width-0 {
    min-width: 0!important
}

.m-0 {
    margin: 0!important
}

.mt-0 {
    margin-top: 0!important
}

.mt-1 {
    margin-top: 4px!important
}

.mt-2 {
    margin-top: 8px!important
}

.mb-0 {
    margin-bottom: 0!important
}

.mr-0 {
    margin-right: 0!important
}

.mr-1 {
    margin-right: 4px!important
}

.mb-1 {
    margin-bottom: 4px!important
}

.mt-0 {
    margin-top: 0!important
}

.mt-1 {
    margin-top: 4px!important
}

.mt-2 {
    margin-top: 8px!important
}

.mt-3 {
    margin-top: 16px!important
}

.mb-2 {
    margin-bottom: 8px!important
}

.mt-3 {
    margin-top: 16px!important
}

.mr-2 {
    margin-right: 8px!important
}

.mr-3 {
    margin-right: 16px!important
}

.ml-3 {
    margin-left: 16px!important
}

.mb-3 {
    margin-bottom: 16px!important
}

.mr-n3 {
    margin-right: -16px!important
}

.ml-n3 {
    margin-left: -16px!important
}

.mb-4 {
    margin-bottom: 24px!important
}

.mt-6 {
    margin-top: 40px!important
}

@media (min-width: 768px) {

    .mt-md-0 {
        margin-top: 0!important
    }

    .mr-md-0 {
        margin-right: 0!important
    }

    .mb-md-0 {
        margin-bottom: 0!important
    }
}

.pt-0 {
    padding-top: 0!important
}

.pt-1 {
    padding-top: 4px!important
}

.pb-1 {
    padding-bottom: 4px!important
}

.p-2 {
    padding: 8px!important
}

.pb-2 {
    padding-bottom: 8px!important
}

.pl-2 {
    padding-left: 8px!important
}

.p-3 {
    padding: 16px!important
}

.pt-3 {
    padding-top: 16px!important
}

.pr-3 {
    padding-right: 16px!important
}

.pl-3,.px-3 {
    padding-left: 16px!important
}

.px-3 {
    padding-right: 16px!important
}

.py-3 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.py-4 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.pt-4 {
    padding-top: 24px!important
}

.pr-4 {
    padding-right: 24px!important
}

.pb-4 {
    padding-bottom: 24px!important
}

.pb-5 {
    padding-bottom: 32px!important
}

.px-5 {
    padding-left: 32px!important
}

.px-5 {
    padding-right: 32px!important
}

.pt-6 {
    padding-top: 40px!important
}

@media (min-width: 768px) {

    .pt-md-0 {
        padding-top: 0!important
    }

    .pl-md-0 {
        padding-left: 0!important
    }

    .pt-md-3 {
        padding-top: 16px!important
    }

    .pb-md-3 {
        padding-bottom: 16px!important
    }

    .px-md-4 {
        padding-left: 24px!important
    }

    .px-md-4 {
        padding-right: 24px!important
    }
}

@media (min-width: 1012px) {

    .px-lg-5 {
        padding-left: 32px!important
    }

    .px-lg-5 {
        padding-right: 32px!important
    }
}

.p-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important
}

@media (min-width: 544px) {
    .p-responsive {
        padding-right:40px!important;
        padding-left: 40px!important
    }
}

@media (min-width: 1012px) {
    .p-responsive {
        padding-right:16px!important;
        padding-left: 16px!important
    }
}

.f4 {
    font-size: 16px!important
}

@media (min-width: 768px) {
    .f4 {
        font-size:16px!important
    }
}

.f6 {
    font-size: 12px!important
}

.no-wrap {
    white-space: nowrap!important
}

.wb-break-all {
    word-break: break-all!important
}

.text-mono {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important
}

.text-small {
    font-size: 12px!important
}

.text-bold {
    font-weight: 600!important
}

.text-right {
    text-align: right!important
}

.text-normal {
    font-weight: 400!important
}

.list-style-none {
    list-style: none!important
}

.d-block {
    display: block!important
}

.d-flex {
    display: flex!important
}

.d-inline-block {
    display: inline-block!important
}

.d-none {
    display: none!important
}

@media (min-width: 768px) {
    .d-md-block {
        display:block!important
    }

    .d-md-none {
        display: none!important
    }
}