.nolink:hover {
    text-decoration: none!important
}

.link-gray-dark {
    color: var(--color-text-primary)!important
}

.link-gray-dark:hover {
    color: var(--color-text-link)!important
}

.text-gray {
    color: var(--color-text-secondary)!important
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
    border-radius: 50%!important
}

.Counter {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-counter-text);
    text-align: center;
    background-color: var(--color-counter-bg);
    border: 1px solid transparent;
    border-radius: 2em
}

.Tag {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-counter-text);
    text-align: center;
    background-color: var(--color-counter-bg);
    border: 1px solid transparent;
    border-radius: 5px
}

/* .UnderlineNav-item.selected .UnderlineNav-octicon,.UnderlineNav-item[aria-current]:not([aria-current=false]) .UnderlineNav-octicon,.UnderlineNav-item[role=tab][aria-selected=true] .UnderlineNav-octicon {
    color: inherit
} */

/* @media (min-width: 1280px) {
    .hx_UnderlineNav-with-profile-color-modes-banner {
        overflow:visible;
        padding-top: 8px;
        align-items: flex-end
    }
} */

.vcard-names {
    line-height: 1
}

.vcard-fullname {
    font-size: 26px;
    line-height: 1.25
}

.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--color-text-secondary)
}

.vcard-details {
    list-style: none
}

.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%
}


.vcard-detail {
    padding-left: 24px;
    font-size: 14px
}

.vcard-detail .octicon {
    float: left;
    width: 16px;
    margin-top: 3px;
    margin-left: -24px;
    color: var(--color-text-tertiary);
    text-align: center
}

.vcard-detail {
    padding-left: 22px
}

.vcard-detail .octicon {
    margin-left: -22px
}

.vcard-names-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    vertical-align: text-bottom
}

.container-lg {
    max-width: 1012px
}

.container-lg,.container-xl {
    margin-right: auto;
    margin-left: auto
}

.container-xl {
    margin-right: auto;
    margin-left: auto
}

.container-xl {
    max-width: 1280px
}

.col-2 {
    width: 16.66667%
}

.col-10 {
    width: 83.33333%
}

.col-12 {
    width: 100%
}

@media (min-width: 768px) {

    .col-md-3 {
        width: 25%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-12 {
        width: 100%
    }
}

@media (min-width: 1012px) {

    .col-lg-6 {
        width: 50%
    }
}

.gutter-condensed {
    margin-right: -8px;
    margin-left: -8px
}

.gutter-condensed>[class*=col-] {
    padding-right: 8px!important;
    padding-left: 8px!important
}

@media (min-width: 1012px) {
    .gutter-lg {
        margin-right:-16px;
        margin-left: -16px
    }

    .gutter-lg>[class*=col-] {
        padding-right: 16px!important;
        padding-left: 16px!important
    }
}

.muted-link {
    color: var(--color-text-secondary)!important
}

.muted-link:hover {
    text-decoration: none
}

.UnderlineNav {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: inset 0 -1px 0 var(--color-border-secondary);
    justify-content: space-between
}

.UnderlineNav-body {
    display: flex
}

.UnderlineNav-item {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: var(--color-underlinenav-text);
    text-align: center;
    white-space: nowrap;
    background-color: initial;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .36s ease-in
}

.UnderlineNav-item:focus,.UnderlineNav-item:hover {
    color: var(--color-underlinenav-text-hover);
    text-decoration: none;
    border-bottom-color: var(--color-border-tertiary);
    outline: 1px dotted transparent;
    outline-offset: -1px;
    transition-timing-function: ease-out;
    transition-duration: .12s
}

.UnderlineNav-item.selected {
    font-weight: 600;
    color: var(--color-underlinenav-text-active);
    border-bottom-color: #f9826c;
    outline: 1px dotted transparent;
    outline-offset: -1px
}

.UnderlineNav-item.selected .UnderlineNav-octicon {
    color: var(--color-text-tertiary)
}

.UnderlineNav-octicon {
    margin-right: 4px;
    color: var(--color-underlinenav-icon)
}

.UnderlineNav .Counter {
    margin-left: 4px;
    color: var(--color-underlinenav-counter-text)
}

/* .box-shadow-none {
    box-shadow: none!important
} */

.color-border-secondary {
    border-color: var(--color-border-secondary)!important
}

.border-gray-light {
    border-color: var(--color-border-secondary)!important
}

.flex-justify-center {
    justify-content: center!important
}

.flex-items-start {
    align-items: flex-start!important
}

.flex-items-center {
    align-items: center!important
}

.flex-content-stretch {
    align-content: stretch!important
}

.flex-auto {
    flex: auto!important
}

.flex-shrink-0 {
    flex-shrink: 0!important
}

.flex-order-1 {
    order: 1!important
}

.flex-order-2 {
    order: 2!important
}

@media (min-width: 544px) {

    .flex-sm-items-center {
        align-items: center!important
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction:row!important
    }

    .flex-md-items-center {
        align-items: center!important
    }

    .flex-md-order-1 {
        order: 1!important
    }
}

@media (min-width: 1012px) {
    .flex-lg-row {
        flex-direction:row!important
    }

    .flex-lg-nowrap {
        flex-wrap: nowrap!important
    }

    .flex-lg-justify-between {
        justify-content: space-between!important
    }
}

.position-relative {
    position: relative!important
}

.position-sticky {
    position: -webkit-sticky!important;
    position: sticky!important
}

.top-0 {
    top: 0!important
}

.v-align-top {
    vertical-align: top!important
}

.overflow-hidden {
    overflow: hidden!important
}

.clearfix:after,.clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.float-left {
    float: left!important
}

.width-full {
    width: 100%!important
}

.min-width-0 {
    min-width: 0!important
}

.p-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important
}

@media (min-width: 544px) {
    .p-responsive {
        padding-right:40px!important;
        padding-left: 40px!important
    }
}

@media (min-width: 1012px) {
    .p-responsive {
        padding-right:16px!important;
        padding-left: 16px!important
    }
}

.no-wrap {
    white-space: nowrap!important
}

.wb-break-all {
    word-break: break-all!important
}

.list-style-none {
    list-style: none!important
}
