.toc-item {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 1.5;
}

.SelectMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    padding: 16px;
    pointer-events: none;
    flex-direction: column
} 

@media (min-width: 544px) {
    .SelectMenu {
        position:absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        padding: 0
    }
}

.SelectMenu:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    content: "";
    background-color: var(--color-select-menu-backdrop-bg)
}

@media (min-width: 544px) {
    .SelectMenu:before {
        display:none
    }
}

.SelectMenu-modal {
    position: relative;
    z-index: 99;
    display: flex;
    max-height: 66%;
    margin: auto 0;
    overflow: hidden;
    pointer-events: auto;
    flex-direction: column;
    background-color: var(--color-bg-overlay);
    border: 1px solid var(--color-select-menu-backdrop-border);
    border-radius: 12px;
    box-shadow: var(--color-select-menu-shadow);
    animation: SelectMenu-modal-animation .12s cubic-bezier(0,.1,.1,1) backwards
}
/* 
@media (min-width: 544px) {
    .SelectMenu-modal {
        width:300px;
        height: auto;
        max-height: 480px;
        margin: 8px 0 16px;
        font-size: 12px;
        border-color: var(--color-border-overlay);
        border-radius: 6px;
        box-shadow: var(--color-shadow-large);
        animation-name: SelectMenu-modal-animation--sm
    }
} */


.SelectMenu-list {
    position: relative;
    padding: 0;
    margin: 0 0 -1px;
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.SelectMenu-item,.SelectMenu-list {
    background-color: var(--color-bg-overlay)
}

.SelectMenu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    color: var(--color-text-primary);
    text-align: left;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid var(--color-select-menu-border-secondary)
}

.SelectMenu-item:hover {
    font-weight: bold
}
/* 
@media (min-width: 544px) {
    .SelectMenu-item {
        padding-top:7px;
        padding-bottom: 7px
    }
} */

.SelectMenu-list--borderless .SelectMenu-item {
    border-bottom: 0
}
