[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/gists"]
	path = themes/gists
	url = https://github.com/dmachard/hugo-theme-gists.git
