.group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.archive-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: .25rem 0 .25rem 1.5rem;
}

.archive-item-date {
    width: 4em;
    text-align: right;
    color: #a9a9b3;
}
